box.editor {
	-moz-binding: url('chrome://firesoup/content/editor.xbl.xml#editor');
}

box.editor .editor_html {
	border: 1px solid black;
	background-color: #ffffff;
}

box.editor .editor_text {
	border: 1px solid blue;
	background-color: #ffffff;
}